<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ordonnance-heading"
        data-cy="OrdonnanceCreateUpdateHeading"
        jhiTranslate="teleconsultationApp.ordonnance.home.createOrEditLabel"
      >
        Create or edit a Ordonnance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ordonnance.dateOrdonnance" for="field_dateOrdonnance"
            >Date Ordonnance</label
          >
          <div class="input-group">
            <input
              id="field_dateOrdonnance"
              data-cy="dateOrdonnance"
              type="text"
              class="form-control"
              name="dateOrdonnance"
              ngbDatepicker
              #dateOrdonnanceDp="ngbDatepicker"
              formControlName="dateOrdonnance"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOrdonnanceDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('dateOrdonnance')!.invalid && (editForm.get('dateOrdonnance')!.dirty || editForm.get('dateOrdonnance')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateOrdonnance')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ordonnance.numero" for="field_numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ordonnance.ficheConsultation" for="field_ficheConsultation"
            >Fiche Consultation</label
          >
          <select
            class="form-control"
            id="field_ficheConsultation"
            data-cy="ficheConsultation"
            name="ficheConsultation"
            formControlName="ficheConsultation"
            [compareWith]="compareFicheConsultation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="ficheConsultationOption" *ngFor="let ficheConsultationOption of ficheConsultationsSharedCollection">
              {{ ficheConsultationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
