<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="patient">
      <h2 data-cy="patientDetailsHeading"><span jhiTranslate="teleconsultationApp.patient.detail.title">Patient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ patient.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.patient.userId">User Id</span></dt>
        <dd>
          <span>{{ patient.userId }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.patient.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ patient.dateNaissance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.patient.genre">Genre</span></dt>
        <dd>
          <span jhiTranslate="{{ 'teleconsultationApp.Genre.' + patient.genre }}">{{ patient.genre }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.patient.dossierMedical">Dossier Medical</span></dt>
        <dd>
          <div *ngIf="patient.dossierMedical">
            <a [routerLink]="['/dossier-medical', patient.dossierMedical.id, 'view']">{{ patient.dossierMedical.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
