<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demandeConsultation">
      <h2 data-cy="demandeConsultationDetailsHeading">
        <span jhiTranslate="teleconsultationApp.demandeConsultation.detail.title">Demande Consultation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demandeConsultation.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.dateHeureDemande">Date Heure Demande</span></dt>
        <dd>
          <span>{{ demandeConsultation.dateHeureDemande | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.ordre">Ordre</span></dt>
        <dd>
          <span>{{ demandeConsultation.ordre }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.statut">Statut</span></dt>
        <dd>
          <span jhiTranslate="{{ 'teleconsultationApp.StatutDemandeConsultation.' + demandeConsultation.statut }}">{{
            demandeConsultation.statut
          }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.codeOtp">Code Otp</span></dt>
        <dd>
          <span>{{ demandeConsultation.codeOtp }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.telephonePaiement">Telephone Paiement</span></dt>
        <dd>
          <span>{{ demandeConsultation.telephonePaiement }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.montant">Montant</span></dt>
        <dd>
          <span>{{ demandeConsultation.montant }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.specialite">Specialite</span></dt>
        <dd>
          <div *ngIf="demandeConsultation.specialite">
            <a [routerLink]="['/specialite', demandeConsultation.specialite.id, 'view']">{{ demandeConsultation.specialite.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.demandeConsultation.dossierMedical">Dossier Medical</span></dt>
        <dd>
          <div *ngIf="demandeConsultation.dossierMedical">
            <a [routerLink]="['/dossier-medical', demandeConsultation.dossierMedical.id, 'view']">{{
              demandeConsultation.dossierMedical.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demande-consultation', demandeConsultation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
