<fieldset class="border p-2 border-{{ color }}" *ngIf="patient && patient.user">
  <legend class="float-none w-auto h6"><i class="bx bx-user-circle"></i> {{ titre }}</legend>

  <div class="row" *ngIf="!enConsultation">
    <div class="col-md-4 row">
      <p class="col-5">Nom et prénom</p>
      <p class="col-7">: {{ patient.user.lastName || '' }} {{ patient.user.firstName || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Téléphone</p>
      <p class="col-7">: {{ patient.user.telephone || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Email</p>
      <p class="col-7">: {{ patient.user.email || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Date naissance</p>
      <p class="col-7">: {{ patient.dateNaissance | formatMediumDate }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Genre</p>
      <p class="col-7">: {{ patient.genre || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Groupe sanguin</p>
      <p class="col-7">: {{ patient.dossier?.groupeSanguin || '' }}</p>
    </div>
  </div>

  <div class="row" *ngIf="enConsultation">
    <div class="col-md-4">
      <p>
        Nom et prénom
        <span>: {{ patient.user.lastName || '' }} {{ patient.user.firstName || '' }}</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Date naissance
        <span>: {{ patient.dateNaissance | formatMediumDate }}</span>
      </p>
    </div>

    <div class="col-md-2">
      <p>
        Genre
        <span>: {{ patient.genre || '' }}</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Groupe sanguin
        <span>: {{ patient.dossier?.groupeSanguin || '' }}</span>
      </p>
    </div>
  </div>
</fieldset>
