<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="symptome">
      <h2 data-cy="symptomeDetailsHeading"><span jhiTranslate="teleconsultationApp.symptome.detail.title">Symptome</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ symptome.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.symptome.designation">Designation</span></dt>
        <dd>
          <span>{{ symptome.designation }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.symptome.code">Code</span></dt>
        <dd>
          <span>{{ symptome.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/symptome', symptome.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
