<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-notification-heading"
        data-cy="NotificationCreateUpdateHeading"
        jhiTranslate="teleconsultationApp.notification.home.createOrEditLabel"
      >
        Create or edit a Notification
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.notification.dateNotification" for="field_dateNotification"
            >Date Notification</label
          >
          <div class="d-flex">
            <input
              id="field_dateNotification"
              data-cy="dateNotification"
              type="datetime-local"
              class="form-control"
              name="dateNotification"
              formControlName="dateNotification"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.notification.objet" for="field_objet">Objet</label>
          <input type="text" class="form-control" name="objet" id="field_objet" data-cy="objet" formControlName="objet" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.notification.corpus" for="field_corpus">Corpus</label>
          <input type="text" class="form-control" name="corpus" id="field_corpus" data-cy="corpus" formControlName="corpus" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.notification.sender" for="field_sender">Sender</label>
          <input type="text" class="form-control" name="sender" id="field_sender" data-cy="sender" formControlName="sender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.notification.receiver" for="field_receiver">Receiver</label>
          <input type="text" class="form-control" name="receiver" id="field_receiver" data-cy="receiver" formControlName="receiver" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.notification.typeNotification" for="field_typeNotification"
            >Type Notification</label
          >
          <select
            class="form-control"
            name="typeNotification"
            formControlName="typeNotification"
            id="field_typeNotification"
            data-cy="typeNotification"
          >
            <option [ngValue]="null">{{ 'teleconsultationApp.TypeNotification.null' | translate }}</option>
            <option *ngFor="let typeNotification of typeNotificationValues" [value]="typeNotification">
              {{ 'teleconsultationApp.TypeNotification.' + typeNotification | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
