<div>
  <h2 id="page-heading" data-cy="FicheConsultationHeading">
    <span jhiTranslate="teleconsultationApp.ficheConsultation.home.title">Fiche Consultations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teleconsultationApp.ficheConsultation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fiche-consultation"
        [routerLink]="['/fiche-consultation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teleconsultationApp.ficheConsultation.home.createLabel"> Create a new Fiche Consultation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="ficheConsultations?.length === 0">
    <span jhiTranslate="teleconsultationApp.ficheConsultation.home.notFound">No Fiche Consultations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ficheConsultations && ficheConsultations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFiche">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ficheConsultation.dateFiche">Date Fiche</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numero">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ficheConsultation.numero">Numero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="observation">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ficheConsultation.observation">Observation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diagnostic">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ficheConsultation.diagnostic">Diagnostic</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="medecin.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ficheConsultation.medecin">Medecin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="consultation.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ficheConsultation.consultation">Consultation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ficheConsultation of ficheConsultations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fiche-consultation', ficheConsultation.id, 'view']">{{ ficheConsultation.id }}</a>
          </td>
          <td>{{ ficheConsultation.dateFiche | formatMediumDate }}</td>
          <td>{{ ficheConsultation.numero }}</td>
          <td>{{ ficheConsultation.observation }}</td>
          <td>{{ ficheConsultation.diagnostic }}</td>
          <td>
            <div *ngIf="ficheConsultation.medecin">
              <a [routerLink]="['/medecin', ficheConsultation.medecin.id, 'view']">{{ ficheConsultation.medecin.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheConsultation.consultation">
              <a [routerLink]="['/consultation', ficheConsultation.consultation.id, 'view']">{{ ficheConsultation.consultation.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ordonnance']"
                [queryParams]="{ 'filter[ficheConsultationId.in]': ficheConsultation.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.ficheConsultation.ordonnance' | translate) }"
                  >Show Ordonnance</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/bulletin']"
                [queryParams]="{ 'filter[ficheConsultationId.in]': ficheConsultation.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.ficheConsultation.bulletin' | translate) }"
                  >Show Bulletin</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/fiche-symptome']"
                [queryParams]="{ 'filter[ficheConsultationId.in]': ficheConsultation.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.ficheConsultation.ficheSymptome' | translate) }"
                  >Show Fiche Symptome</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/fiche-consultation', ficheConsultation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fiche-consultation', ficheConsultation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ficheConsultation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ficheConsultations && ficheConsultations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
