<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dossierMedical">
      <h2 data-cy="dossierMedicalDetailsHeading">
        <span jhiTranslate="teleconsultationApp.dossierMedical.detail.title">Dossier Medical</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dossierMedical.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.dossierMedical.numero">Numero</span></dt>
        <dd>
          <span>{{ dossierMedical.numero }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.dossierMedical.groupeSanguin">Groupe Sanguin</span></dt>
        <dd>
          <span jhiTranslate="{{ 'teleconsultationApp.GroupeSanguin.' + dossierMedical.groupeSanguin }}">{{
            dossierMedical.groupeSanguin
          }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.dossierMedical.medecin">Medecin</span></dt>
        <dd>
          <div *ngIf="dossierMedical.medecin">
            <a [routerLink]="['/medecin', dossierMedical.medecin.id, 'view']">{{ dossierMedical.medecin.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dossier-medical', dossierMedical.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
