<div>
  <h3><span class="bx bx-home"></span> Acceuil</h3>
  <hr />
  <div class="d-grid gap-1 d-md-flex justify-content-md-end">
    <a (click)="demanderConsultation()" class=" {{ demande != undefined ? 'disabled' : '' }} btn btn-primary btn-sm" disabled="true"
      ><i class="bx bx-clinic"></i> Demander une consultaion</a
    >
  </div>

  <jhi-info-demande [titre]="'Demande de consultation en attente'" [demande]="demande"></jhi-info-demande>

  <ul class="box-info">
    <li>
      <i class="bx bxs-clinic"></i>
      <span class="text">
        <h3>1</h3>
        <p>Demandes de consultation</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-calendar-check"></i>
      <span class="text">
        <h3>0</h3>
        <p>Consultations</p>
      </span>
    </li>
  </ul>
</div>
