<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ficheConsultation">
      <h2 data-cy="ficheConsultationDetailsHeading">
        <span jhiTranslate="teleconsultationApp.ficheConsultation.detail.title">Fiche Consultation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ficheConsultation.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ficheConsultation.dateFiche">Date Fiche</span></dt>
        <dd>
          <span>{{ ficheConsultation.dateFiche | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ficheConsultation.numero">Numero</span></dt>
        <dd>
          <span>{{ ficheConsultation.numero }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ficheConsultation.observation">Observation</span></dt>
        <dd>
          <span>{{ ficheConsultation.observation }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ficheConsultation.diagnostic">Diagnostic</span></dt>
        <dd>
          <span>{{ ficheConsultation.diagnostic }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ficheConsultation.medecin">Medecin</span></dt>
        <dd>
          <div *ngIf="ficheConsultation.medecin">
            <a [routerLink]="['/medecin', ficheConsultation.medecin.id, 'view']">{{ ficheConsultation.medecin.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ficheConsultation.consultation">Consultation</span></dt>
        <dd>
          <div *ngIf="ficheConsultation.consultation">
            <a [routerLink]="['/consultation', ficheConsultation.consultation.id, 'view']">{{ ficheConsultation.consultation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fiche-consultation', ficheConsultation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
