<div>
  <h2 id="page-heading" data-cy="OrdonnanceHeading">
    <span jhiTranslate="teleconsultationApp.ordonnance.home.title">Ordonnances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teleconsultationApp.ordonnance.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ordonnance"
        [routerLink]="['/ordonnance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teleconsultationApp.ordonnance.home.createLabel"> Create a new Ordonnance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="ordonnances?.length === 0">
    <span jhiTranslate="teleconsultationApp.ordonnance.home.notFound">No Ordonnances found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ordonnances && ordonnances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOrdonnance">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ordonnance.dateOrdonnance">Date Ordonnance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numero">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ordonnance.numero">Numero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ficheConsultation.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.ordonnance.ficheConsultation">Fiche Consultation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordonnance of ordonnances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ordonnance', ordonnance.id, 'view']">{{ ordonnance.id }}</a>
          </td>
          <td>{{ ordonnance.dateOrdonnance | formatMediumDate }}</td>
          <td>{{ ordonnance.numero }}</td>
          <td>
            <div *ngIf="ordonnance.ficheConsultation">
              <a [routerLink]="['/fiche-consultation', ordonnance.ficheConsultation.id, 'view']">{{ ordonnance.ficheConsultation.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prescription-produit']"
                [queryParams]="{ 'filter[ordonnanceId.in]': ordonnance.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.ordonnance.prescriptionProduit' | translate) }"
                  >Show Prescription Produit</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/ordonnance', ordonnance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ordonnance', ordonnance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ordonnance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ordonnances && ordonnances.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
