<section id="sidebar">
  <a href="/login" class="brand">
    <!--    <i class="bx bxs-smile"></i>-->
    <img class="img-fluid mt-5" src="../../content/logo/logo_laafi_zanga_02.png" width="100" alt="" />
  </a>
  <ul class="side-menu top r-padding">
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.MEDECIN, enumAutority.PATIENT]">
      <a href="#" routerLink="/services/consultations">
        <i class="bx bxs-clinic"></i>
        <span class="text">Consultation</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.PATIENT]">
      <a href="#" routerLink="/services/acceuil/patient">
        <i class="bx bxs-home"></i>
        <span class="text">Acceuil</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.MEDECIN]" class="active">
      <a href="#" routerLink="/services/acceuil/medecin">
        <i class="bx bxs-home"></i>
        <span class="text">Acceuil</span>
      </a>
    </li>

    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.PATIENT]">
      <a href="#">
        <i class="bx bxs-folder"></i>
        <span class="text">Mon dossier</span>
      </a>
    </li>

    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.PATIENT]">
      <a href="#">
        <i class="bx bxs-receipt"></i>
        <span class="text">Mes ordonnances</span>
      </a>
    </li>

    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.PATIENT]">
      <a href="#">
        <i class="bx bx-test-tube"></i>
        <span class="text">Mes examens</span>
      </a>
    </li>

    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.MEDECIN]">
      <a href="#" routerLink="/services/dossiers-medicaux">
        <i class="bx bxs-book-heart"></i>
        <span class="text">Dossiers patients</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.MEDECIN]">
      <a href="#">
        <i class="bx bx-group"></i>
        <span class="text">Suivi patient</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.MEDECIN, enumAutority.PATIENT]">
      <a href="#">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Messages</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/services/tdb">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Tableau de bord</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/parametres/specialites">
        <i class="bx bx-cog"></i>
        <span class="text">Spécialités</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/parametres/produits">
        <i class="bx bx-cog"></i>
        <span class="text">Produits</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/parametres/examens">
        <i class="bx bx-cog"></i>
        <span class="text">Examens</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/parametres/symptomes">
        <i class="bx bx-cog"></i>
        <span class="text">Symptômes</span>
      </a>
    </li>
  </ul>

  <ul class="side-menu r-padding">
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/parametres/formations-sanitaires">
        <i class="bx bxs-home-alt-2"></i>
        <span class="text">Formations sanitaires</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/medecins">
        <i class="bx bxs-user-account"></i>
        <span class="text">Médecins</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'" *jhiHasAnyAuthority="[enumAutority.ADMIN]">
      <a href="#" routerLink="/admin/user-management">
        <i class="bx bxs-group"></i>
        <span class="text">Utilisateurs</span>
      </a>
    </li>
    <!--    <li *jhiHasAnyAuthority="[enumAutority.ADMIN]">-->
    <!--      <a href="#">-->
    <!--        <i class="bx bx-key"></i>-->
    <!--        <span class="text">Profils</span>-->
    <!--      </a>-->
    <!--    </li>-->
    <li>
      <a href="#" class="logout" (click)="logout()">
        <i class="bx bx-log-out"></i>
        <span class="text">Se déconnecter</span>
      </a>
    </li>
  </ul>
</section>

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu burgur"></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Recherche ..." />
        <button type="submit" class="search-btn"><i class="bx bx-search"></i></button>
      </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden />
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification">
      <i class="bx bxs-bell"></i>
      <span class="num">1</span>
    </a>
    <a href="#" class="profile">
      <!--<span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
      </span>-->
      <img *jhiHasAnyAuthority="[enumAutority.PATIENT]" src="../../content/images/people.png" />
      <img *jhiHasAnyAuthority="[enumAutority.MEDECIN]" src="../../content/images/user-2.png" />
      <img *jhiHasAnyAuthority="[enumAutority.ADMIN]" src="../../content/images/user-3.png" />
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
