<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-dossier-medical-heading"
        data-cy="DossierMedicalCreateUpdateHeading"
        jhiTranslate="teleconsultationApp.dossierMedical.home.createOrEditLabel"
      >
        Create or edit a Dossier Medical
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.dossierMedical.numero" for="field_numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
          <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.dossierMedical.groupeSanguin" for="field_groupeSanguin"
            >Groupe Sanguin</label
          >
          <select
            class="form-control"
            name="groupeSanguin"
            formControlName="groupeSanguin"
            id="field_groupeSanguin"
            data-cy="groupeSanguin"
          >
            <option [ngValue]="null">{{ 'teleconsultationApp.GroupeSanguin.null' | translate }}</option>
            <option *ngFor="let groupeSanguin of groupeSanguinValues" [value]="groupeSanguin">
              {{ 'teleconsultationApp.GroupeSanguin.' + groupeSanguin | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.dossierMedical.medecin" for="field_medecin">Medecin</label>
          <select
            class="form-control"
            id="field_medecin"
            data-cy="medecin"
            name="medecin"
            formControlName="medecin"
            [compareWith]="compareMedecin"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="medecinOption" *ngFor="let medecinOption of medecinsSharedCollection">{{ medecinOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
