<div>
  <h2 id="page-heading" data-cy="DossierMedicalHeading">
    <span jhiTranslate="teleconsultationApp.dossierMedical.home.title">Dossier Medicals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teleconsultationApp.dossierMedical.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dossier-medical"
        [routerLink]="['/dossier-medical/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teleconsultationApp.dossierMedical.home.createLabel"> Create a new Dossier Medical </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="dossierMedicals?.length === 0">
    <span jhiTranslate="teleconsultationApp.dossierMedical.home.notFound">No Dossier Medicals found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dossierMedicals && dossierMedicals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numero">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.dossierMedical.numero">Numero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="groupeSanguin">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.dossierMedical.groupeSanguin">Groupe Sanguin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="medecin.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.dossierMedical.medecin">Medecin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dossierMedical of dossierMedicals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dossier-medical', dossierMedical.id, 'view']">{{ dossierMedical.id }}</a>
          </td>
          <td>{{ dossierMedical.numero }}</td>
          <td jhiTranslate="{{ 'teleconsultationApp.GroupeSanguin.' + dossierMedical.groupeSanguin }}">
            {{ dossierMedical.groupeSanguin }}
          </td>
          <td>
            <div *ngIf="dossierMedical.medecin">
              <a [routerLink]="['/medecin', dossierMedical.medecin.id, 'view']">{{ dossierMedical.medecin.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-consultation']"
                [queryParams]="{ 'filter[dossierMedicalId.in]': dossierMedical.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.dossierMedical.demandeConsultation' | translate) }"
                  >Show Demande Consultation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/dossier-medical', dossierMedical.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dossier-medical', dossierMedical.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dossierMedical)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dossierMedicals && dossierMedicals.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
