<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span jhiTranslate="teleconsultationApp.message.detail.title">Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.message.dateMessage">Date Message</span></dt>
        <dd>
          <span>{{ message.dateMessage | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.message.message">Message</span></dt>
        <dd>
          <span>{{ message.message }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.message.userIdFrom">User Id From</span></dt>
        <dd>
          <span>{{ message.userIdFrom }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.message.userIdTo">User Id To</span></dt>
        <dd>
          <span>{{ message.userIdTo }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.message.readed">Readed</span></dt>
        <dd>
          <span>{{ message.readed }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
