<div>
  <h2 id="page-heading" data-cy="MedecinHeading">
    <span jhiTranslate="teleconsultationApp.medecin.home.title">Medecins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teleconsultationApp.medecin.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medecin"
        [routerLink]="['/medecin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teleconsultationApp.medecin.home.createLabel"> Create a new Medecin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="medecins?.length === 0">
    <span jhiTranslate="teleconsultationApp.medecin.home.notFound">No Medecins found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="medecins && medecins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.medecin.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matricule">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.medecin.matricule">Matricule</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="signature">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.medecin.signature">Signature</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="formationSanitaire.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.medecin.formationSanitaire">Formation Sanitaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="specialite.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.medecin.specialite">Specialite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medecin of medecins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medecin', medecin.id, 'view']">{{ medecin.id }}</a>
          </td>
          <td>{{ medecin.userId }}</td>
          <td>{{ medecin.matricule }}</td>
          <td>
            <a *ngIf="medecin.signature" (click)="openFile(medecin.signature, medecin.signatureContentType)">
              <img
                [src]="'data:' + medecin.signatureContentType + ';base64,' + medecin.signature"
                style="max-height: 30px"
                alt="medecin image"
              />
            </a>
            <span *ngIf="medecin.signature">{{ medecin.signatureContentType }}, {{ byteSize(medecin.signature) }}</span>
          </td>
          <td>
            <div *ngIf="medecin.formationSanitaire">
              <a [routerLink]="['/formation-sanitaire', medecin.formationSanitaire.id, 'view']">{{ medecin.formationSanitaire.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="medecin.specialite">
              <a [routerLink]="['/specialite', medecin.specialite.id, 'view']">{{ medecin.specialite.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dossier-medical']"
                [queryParams]="{ 'filter[medecinId.in]': medecin.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.medecin.dossierMedical' | translate) }"
                  >Show Dossier Medical</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/consultation']"
                [queryParams]="{ 'filter[medecinId.in]': medecin.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.medecin.consultation' | translate) }"
                  >Show Consultation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/fiche-consultation']"
                [queryParams]="{ 'filter[medecinId.in]': medecin.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.medecin.ficheConsultation' | translate) }"
                  >Show Fiche Consultation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/medecin', medecin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medecin', medecin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(medecin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="medecins && medecins.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
