<div>
  <h2 id="page-heading" data-cy="ConsultationHeading">
    <span>Consultations 2</span>

    <div class="d-flex justify-content-end">
      <!--      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">-->
      <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
      <!--        <span jhiTranslate="teleconsultationApp.consultationConsultation.home.refreshListLabel">Refresh list</span>-->
      <!--      </button>-->

      <!--      <button-->
      <!--        id="jh-create-entity"-->
      <!--        data-cy="entityCreateButton"-->
      <!--        class="btn btn-primary jh-create-entity create-consultation"-->
      <!--        [routerLink]="['/consultation/new']"-->
      <!--      >-->
      <!--        <fa-icon icon="plus"></fa-icon>-->
      <!--        <span jhiTranslate="teleconsultationApp.consultationConsultation.home.createLabel"> Create a new Consultation </span>-->
      <!--      </button>-->
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="consultations?.length === 0">
    <span jhiTranslate="teleconsultationApp.consultationConsultation.home.notFound">No Consultations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="consultations && consultations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="poids">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.poids">Poids</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="temperature">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.temperature">Temperature</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pouls">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.pouls">Pouls</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bpm">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.bpm">Bpm</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="age">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.age">Age</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="taille">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.taille">Taille</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebutConsulation">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.dateDebutConsulation">Date Debut Consulation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isSuivi">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.isSuivi">Is Suivi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isClose">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.consultationConsultation.isClose">Is Close</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consultation of consultations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/consultation', consultation.id, 'view']">{{ consultation.id }}</a>
          </td>
          <td>{{ consultation.poids }}</td>
          <td>{{ consultation.temperature }}</td>
          <td>{{ consultation.pouls }}</td>
          <td>{{ consultation.bpm }}</td>
          <td>{{ consultation.age }}</td>
          <td>{{ consultation.taille }}</td>
          <td>{{ consultation.dateDebutConsulation | formatMediumDatetime }}</td>
          <td>{{ consultation.isSuivi }}</td>
          <td>{{ consultation.isClose }}</td>
          <td class="text-end">
            <!--          [routerLink]="['/consultation', consultation.id, 'view']"-->
            <div class="btn-group">
              <button type="submit" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <!--            [routerLink]="['/consultation', consultation.id, 'edit']"-->
              <button type="submit" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="consultations && consultations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
