<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ordonnance">
      <h2 data-cy="ordonnanceDetailsHeading"><span jhiTranslate="teleconsultationApp.ordonnance.detail.title">Ordonnance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ordonnance.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ordonnance.dateOrdonnance">Date Ordonnance</span></dt>
        <dd>
          <span>{{ ordonnance.dateOrdonnance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ordonnance.numero">Numero</span></dt>
        <dd>
          <span>{{ ordonnance.numero }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.ordonnance.ficheConsultation">Fiche Consultation</span></dt>
        <dd>
          <div *ngIf="ordonnance.ficheConsultation">
            <a [routerLink]="['/fiche-consultation', ordonnance.ficheConsultation.id, 'view']">{{ ordonnance.ficheConsultation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ordonnance', ordonnance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
