<div>
  <h3><span class="bx bx-clinic"></span> Consultation en cours</h3>
  <hr />
  <div class="row">
    <div class="col-md-5 text-center">
      <!--      <img src="../../../../content/images/call.jpg" class="d-block w-100 rounded" alt="...">-->
      <form id="join-form" name="join-form" class="mt-4">
        <div class="row join-info-group">
          <div class="col-sm">
            <p class="join-info-text">Join call</p>
          </div>
        </div>
        <!– UI Controls –>
        <div class="button-group mt-3">
          <!--          <button id="join" type="submit" class="btn btn-live btn-sm" (click)="call()">Join</button>-->
          <button id="mic-btn" type="button" class="btn btn-live btn-sm" [disabled]="hideBtns">
            <i id="mic-icon" class="bx bx-microphone"></i>
          </button>
          <!--          <button id="leave" type="button" class="btn btn-live btn-sm" >Leave</button>-->
        </div>
      </form>

      <!– Streams –>
      <div class="row video-group">
        <div class="col">
          <p id="local-player-name" class="player-name"></p>
          <div id="local-player" class="player"></div>
        </div>
        <div class="w-100">Remote Users</div>
        <div class="col" *ngFor="let i of rtcStreamService.remoteUsers">
          <div id="{{ 'remote-playerlist' + i.uid }}" class="ui centered medium image" style="width: 200px; height: 200px">{{ i.uid }}</div>
        </div>
      </div>
    </div>

    <div class="col-md-7 row">
      <div class="col-md-8 row">
        <fieldset class="border border-primary p-2">
          <legend class="float-none w-auto h6">Constantes</legend>
          <div class="row">
            <div class="form-floating col-md-6 mt-2">
              <input type="number" class="form-control" [(ngModel)]="age" required id="age" placeholder="Age" />
              <label for="age">Age</label>
            </div>
            <div class="form-floating col-md-6 mt-2">
              <input type="text" class="form-control" required id="poids" placeholder="Poids" />
              <label for="poids">Poids</label>
            </div>
            <div class="form-floating col-md-6 mt-2">
              <input type="text" class="form-control" required id="temperature" placeholder="Température" />
              <label for="temperature">Température </label>
            </div>
            <div class="form-floating col-md-6 mt-2">
              <input type="text" class="form-control" required id="pouls" placeholder="Pouls" />
              <label for="pouls">Pouls</label>
            </div>
            <div class="form-floating col-md-6 mt-2">
              <input type="text" class="form-control" required id="frequenceCardique" placeholder="Fréquence cardique" />
              <label for="frequenceCardique">Fréquence cardiaque</label>
            </div>
            <div class="form-floating col-md-6 mt-2">
              <input type="text" class="form-control" required id="taille" placeholder="Taille" />
              <label for="taille">Taille</label>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2">
            <a class="btn btn-primary btn-sm"><i class="bx bx-save"></i> Enregistrer</a>
          </div>
        </fieldset>
      </div>

      <div class="col-md-4">
        <fieldset class="border border-primary p-2">
          <legend class="float-none w-auto h6">Constantes calculées</legend>
          <div class="row">
            <div class="form-floating mt-2">
              <input type="text" class="form-control" required id="temperature2" placeholder="Température" />
              <label for="temperature2">Température </label>
            </div>
            <div class="form-floating mt-2">
              <input type="text" class="form-control" required id="pouls2" placeholder="Pouls" />
              <label for="pouls2">Pouls</label>
            </div>
            <div class="form-floating mt-2">
              <input type="text" class="form-control" required id="frequenceCardique2" placeholder="Fréquence cardique" />
              <label for="frequenceCardique2">Fréquence cardiaque</label>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2">
            <a class="btn btn-warning btn-sm"><i class="bx bx-refresh"></i></a>
            <a class="btn btn-primary btn-sm"><i class="bx bx-copy"></i></a>
          </div>
        </fieldset>
      </div>

      <fieldset class="border border-primary p-2 mt-2">
        <legend class="float-none w-auto h6">Tableau des prises de constantes calculées</legend>
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Température</th>
              <th>Pouls</th>
              <th>Fréquence cardiaque</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </fieldset>
    </div>

    <div class="col-md-12">
      <div class="d-grid gap-2 d-md-flex mt-2 mb-3">
        <button class="btn btn-warning btn-sm" [disabled]="hideBtns" (click)="endCall()"><i class="bx bx-video-off"></i></button>
        <a class="btn btn-danger btn-sm" (click)="finishConsultation()"><i class="bx bx-save"></i> Mettre fin à la consultation </a>
        <a class="btn btn-primary btn-sm"><i class="bx bx-spreadsheet"></i> Diagnostique </a>
        <a class="btn btn-info btn-sm text-white"><i class="bx bx-detail"></i> Voir le dossier patient </a>
      </div>
      <jhi-info-patient [patient]="patient" [color]="'primary'" [enConsultation]="true"></jhi-info-patient>

      <div class="mt-3">
        <ul class="nav nav-tabs" id="ficheConsulation" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="symptome-tab"
              data-bs-toggle="tab"
              data-bs-target="#symptome"
              type="button"
              role="tab"
              aria-controls="symptome"
              aria-selected="true"
            >
              Symptômes
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="ordonnance-tab"
              data-bs-toggle="tab"
              data-bs-target="#ordonnance"
              type="button"
              role="tab"
              aria-controls="ordonnance"
              aria-selected="false"
            >
              Ordonnance
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="bulletin-tab"
              data-bs-toggle="tab"
              data-bs-target="#bulletin"
              type="button"
              role="tab"
              aria-controls="bulletin"
              aria-selected="false"
            >
              Bulletin d'examen
            </button>
          </li>
        </ul>

        <div class="tab-content" id="ficheConsulationContent">
          <div class="tab-pane fade show active" id="symptome" role="tabpanel" aria-labelledby="symptome-tab">
            <table class="table table-responsive table-striped table-bordered">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Désignation</th>
                  <th>Observation</th>
                  <th>
                    <a class="btn btn-sm btn-outline-primary"><i class="bx bx-plus"></i></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Fièvre</td>
                  <td>Depuis 2 jours</td>
                  <td>
                    <a class="btn btn-sm btn-outline-primary"><i class="bx bx-edit"></i></a>
                    <a class="btn btn-sm btn-outline-danger"><i class="bx bx-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Maux de tête</td>
                  <td>Depuis 1 jour</td>
                  <td>
                    <a class="btn btn-sm btn-outline-primary"><i class="bx bx-edit"></i></a>
                    <a class="btn btn-sm btn-outline-danger"><i class="bx bx-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="ordonnance" role="tabpanel" aria-labelledby="ordonnance-tab">
            <table class="table table-responsive table-striped">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Produit</th>
                  <th>Posologie</th>
                  <th>Observation</th>
                  <th>
                    <a class="btn btn-sm btn-outline-primary"><i class="bx bx-plus"></i></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bulletin" role="tabpanel" aria-labelledby="bulletin-tab">
            <table class="table table-responsive table-striped">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Examen</th>
                  <th>Description</th>
                  <th>Résultat</th>
                  <th>
                    <a class="btn btn-sm btn-outline-primary"><i class="bx bx-plus"></i></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
