<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-medecin-heading" data-cy="MedecinCreateUpdateHeading" jhiTranslate="teleconsultationApp.medecin.home.createOrEditLabel">
        Create or edit a Medecin
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.medecin.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('userId')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.medecin.matricule" for="field_matricule">Matricule</label>
          <input type="text" class="form-control" name="matricule" id="field_matricule" data-cy="matricule" formControlName="matricule" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.medecin.signature" for="field_signature">Signature</label>
          <div>
            <img
              [src]="'data:' + editForm.get('signatureContentType')!.value + ';base64,' + editForm.get('signature')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('signature')!.value"
              alt="medecin image"
            />
            <div *ngIf="editForm.get('signature')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('signatureContentType')!.value }}, {{ byteSize(editForm.get('signature')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('signature', 'signatureContentType', 'file_signature')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_signature"
              data-cy="signature"
              (change)="setFileData($event, 'signature', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="signature" id="field_signature" data-cy="signature" formControlName="signature" />
          <input
            type="hidden"
            class="form-control"
            name="signatureContentType"
            id="field_signatureContentType"
            formControlName="signatureContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.medecin.formationSanitaire" for="field_formationSanitaire"
            >Formation Sanitaire</label
          >
          <select
            class="form-control"
            id="field_formationSanitaire"
            data-cy="formationSanitaire"
            name="formationSanitaire"
            formControlName="formationSanitaire"
            [compareWith]="compareFormationSanitaire"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="formationSanitaireOption" *ngFor="let formationSanitaireOption of formationSanitairesSharedCollection">
              {{ formationSanitaireOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.medecin.specialite" for="field_specialite">Specialite</label>
          <select
            class="form-control"
            id="field_specialite"
            data-cy="specialite"
            name="specialite"
            formControlName="specialite"
            [compareWith]="compareSpecialite"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="specialiteOption" *ngFor="let specialiteOption of specialitesSharedCollection">
              {{ specialiteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
