<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formationSanitaire">
      <h2 data-cy="formationSanitaireDetailsHeading">
        <span jhiTranslate="teleconsultationApp.formationSanitaire.detail.title">Formation Sanitaire</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ formationSanitaire.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.designation">Designation</span></dt>
        <dd>
          <span>{{ formationSanitaire.designation }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.sigle">Sigle</span></dt>
        <dd>
          <span>{{ formationSanitaire.sigle }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.telephone">Telephone</span></dt>
        <dd>
          <span>{{ formationSanitaire.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.fixe">Fixe</span></dt>
        <dd>
          <span>{{ formationSanitaire.fixe }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.bp">Bp</span></dt>
        <dd>
          <span>{{ formationSanitaire.bp }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.email">Email</span></dt>
        <dd>
          <span>{{ formationSanitaire.email }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.formationSanitaire.logo">Logo</span></dt>
        <dd>
          <div *ngIf="formationSanitaire.logo">
            <a (click)="openFile(formationSanitaire.logo, formationSanitaire.logoContentType)">
              <img
                [src]="'data:' + formationSanitaire.logoContentType + ';base64,' + formationSanitaire.logo"
                style="max-width: 100%"
                alt="formationSanitaire image"
              />
            </a>
            {{ formationSanitaire.logoContentType }}, {{ byteSize(formationSanitaire.logo) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/formation-sanitaire', formationSanitaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
