<div>
  <h3><span class="bx bxs-group"></span> Utilisateurs</h3>
  <hr />

  <form name="editFormF" class="mt-3" role="form" novalidate>
    <div class="row">
      <div class="form-group col-md-2">
        <input
          type="text"
          class="form-control form-control-sm"
          name="numero"
          id="numero"
          placeholder="Nom d'utilisateur"
          autocomplete="of"
        />
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" name="email" id="email" placeholder="Email" autocomplete="of" />
      </div>

      <div class="form-group col-md-2">
        <select class="form-control form-control-sm" name="statut" id="statut">
          <option>Statut</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <select class="form-control form-control-sm" name="profil" id="profil">
          <option>Profil</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-sm btn-primary" style="width: 100%"><i class="bx bx-search"></i> Filtrer</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-sm btn-warning" style="width: 100%"><i class="bx bx-reset"></i> Réinitialiser</button>
      </div>
    </div>
  </form>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="d-grid gap-1 d-md-flex justify-content-md-end mb-2 mt-4">
    <a class="btn btn-primary btn-sm" disabled="true"><i class="bx bx-plus"></i> Ajouter</a>
  </div>

  <div class="table-responsive" *ngIf="users">
    <table class="table table-borderless table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col">#</th>
          <th scope="col" jhiSortBy="login"><span>Nom d'utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>Nom et prénom(s)</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telephone"><span>Téléphone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col">Statut</th>
          <!--          <th scope="col" jhiSortBy="langKey">-->
          <!--            <span jhiTranslate="userManagement.langKey">Language</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <th scope="col"><span>Profil</span></th>
          <!--          <th scope="col" jhiSortBy="createdDate">-->
          <!--            <span >Created date</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="lastModifiedBy">-->
          <!--            <span >Modified by</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="lastModifiedDate">-->
          <!--            <span>Modified date</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <th scope="col" class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; let i = index; trackBy: trackIdentity">
          <td>
            {{ i + 1 }}
          </td>
          <td>{{ user.login }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.telephone }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Inactif</button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
            >
              Actif
            </button>
          </td>
          <!--          <td>{{ user.langKey }}</td>-->
          <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </div>
          </td>
          <!--          <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>-->
          <!--          <td>{{ user.lastModifiedBy }}</td>-->
          <!--          <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>-->
          <td class="text-end">
            <div class="dropdown">
              <a
                class="btn btn-primary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bx bx-menu"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            <!--            <div class="btn-group">-->
            <!--              <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">-->
            <!--                <fa-icon icon="eye"></fa-icon>-->
            <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
            <!--              </button>-->

            <!--              <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">-->
            <!--                <fa-icon icon="pencil-alt"></fa-icon>-->
            <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
            <!--              </button>-->

            <!--              <button-->
            <!--                type="button"-->
            <!--                (click)="deleteUser(user)"-->
            <!--                class="btn btn-danger btn-sm"-->
            <!--                [disabled]="!currentAccount || currentAccount.login === user.login"-->
            <!--              >-->
            <!--                <fa-icon icon="times"></fa-icon>-->
            <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
            <!--              </button>-->
            <!--            </div>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
