<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="teleconsultationApp.notification.detail.title">Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.notification.dateNotification">Date Notification</span></dt>
        <dd>
          <span>{{ notification.dateNotification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.notification.objet">Objet</span></dt>
        <dd>
          <span>{{ notification.objet }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.notification.corpus">Corpus</span></dt>
        <dd>
          <span>{{ notification.corpus }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.notification.sender">Sender</span></dt>
        <dd>
          <span>{{ notification.sender }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.notification.receiver">Receiver</span></dt>
        <dd>
          <span>{{ notification.receiver }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.notification.typeNotification">Type Notification</span></dt>
        <dd>
          <span jhiTranslate="{{ 'teleconsultationApp.TypeNotification.' + notification.typeNotification }}">{{
            notification.typeNotification
          }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
