<div>
  <h3><span class="bx bx-clinic"></span> Demander une consultation</h3>
  <hr />

  <form name="demande" class="form mt-4 col-md-6" role="form" novalidate (ngSubmit)="save()" [formGroup]="demande">
    <div class="form-floating">
      <select class="form-select" id="specialite" required formControlName="specialite" name="specialite" (change)="setDemandeMontant()">
        <option [ngValue]="sp" *ngFor="let sp of listeSpecialite">{{ sp.designation || '' }}</option>
      </select>
      <label for="specialite">Spécialité</label>
    </div>

    <div *ngIf="specialite && specialite.frais" class="alert alert-info mt-2">
      Frais de consultation: <span>{{ specialite && specialite.frais ? specialite.frais.toLocaleString() : 0 }}</span>
    </div>

    <!--    <div  class="form-floating mt-3">-->
    <!--      <input type="number"   formControlName ="montant" name="montant" class="form-control" id="montant" placeholder="Montant de la spécialité">-->
    <!--      <label for="montant">Montant</label>-->
    <!--    </div>-->

    <div class="form-floating mt-3">
      <select class="form-select" formControlName="moyenPaiment" id="moyenPaiment" name="moyenPaiment" required #mP>
        <option value="{{ mp.code }}" *ngFor="let mp of moyenPaiements">{{ mp.libelle || '' }}</option>
      </select>
      <label for="moyenPaiment">Moyen de paiement</label>
    </div>

    <div class="alert alert-info mt-2">
      <div *ngIf="mP.value == 'OM'">
        Pour générer le code OTP ORANGE MONEY:
        <code
          >*144*4*6*<span>{{ specialite && specialite.frais ? specialite.frais : 0 }}</span
          >#</code
        >
      </div>
      <div *ngIf="mP.value == 'MM'">
        Pour générer le code OTP MOOV MONEY:
        <code
          >*555*4*1*<span>{{ specialite && specialite.frais ? specialite.frais : 0 }}</span
          >#</code
        >
      </div>
    </div>

    <div class="form-floating mt-3">
      <input type="text" class="form-control" formControlName="codeOtp" required id="codeOtp" name="codeOtp" placeholder="Code OTP" />
      <label for="codeOtp">Code OTP</label>
    </div>

    <div class="form-floating mt-3">
      <input
        type="text"
        class="form-control"
        formControlName="telephonePaiement"
        required
        name="telephonePaiement"
        id="telephonePaiement"
        placeholder="Numéro téléphone"
      />
      <label for="telephonePaiement">Numéro téléphone du code OTP</label>
      <i></i>
    </div>

    <br />
    <div class="d-grid gap-2 mt-2">
      <button type="submit" class="btn btn-primary" data-cy="submit" [disabled]="demande.invalid || isSaving">Envoyer la demande</button>
    </div>
  </form>
</div>
