<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <div class="text-center">
        <img class="img-fluid" src="../../content/logo/laafi_zanga.png" width="150" alt="Logo laafi zanga" />
        <h4 class="">Créer mon compte</h4>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <strong>Votre compte a été créé avec succès!</strong> Veuillez vérifier votre boite mail pour la confirmation.
      </div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
        <strong>Echec de la création du compte!</strong> Veuillez réessayer ultérieurement.
      </div>

      <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Ce nom d'utilisateur existe déjà!</strong> Veuillez choisir un autre.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Ce email est déjà utilisé!</strong> Veuillez choisir un autre.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Les mots de passe saisis ne correspondent pas.</div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-2">
    <div class="col-md-4">
      <!--      (ngSubmit)="register()" [formGroup]="registerForm"-->
      <form name="form" role="form" *ngIf="!success">
        <div class="mb-2">
          <label class="form-label" for="nom">Nom: <i class="text-danger">*</i></label>
          <input required type="text" class="form-control" id="nom" name="nom" placeholder="Nom" formControlName="nom" data-cy="nom" />
        </div>

        <div class="mb-2">
          <label class="form-label" for="prenom">Prénom: <i class="text-danger">*</i></label>
          <input
            required
            type="text"
            class="form-control"
            id="prenom"
            name="prenom"
            placeholder="Prénom"
            formControlName="prenom"
            data-cy="prenom"
          />
        </div>

        <div class="mb-2">
          <label class="form-label" for="telephone">Téléphone: <i class="text-danger">*</i></label>
          <input
            required
            type="text"
            class="form-control"
            id="telephone"
            name="telephone"
            placeholder="Téléphone"
            formControlName="telephone"
            data-cy="telephone"
          />
        </div>

        <div class="mb-2">
          <label class="form-label" for="login">Nom d'utilisateur: <i class="text-danger">*</i></label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="Nom d'utilisateur"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.required"
              jhiTranslate="register.messages.validate.login.required"
            >
              Your username is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.minlength"
              jhiTranslate="register.messages.validate.login.minlength"
            >
              Your username is required to be at least 1 character.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.maxlength"
              jhiTranslate="register.messages.validate.login.maxlength"
            >
              Your username cannot be longer than 50 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.pattern"
              jhiTranslate="register.messages.validate.login.pattern"
            >
              Your username is invalid.
            </small>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="email">Email: <i class="text-danger">*</i></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email" data-cy="email" />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              Your email is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.invalid"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              Your email is invalid.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              Your email is required to be at least 5 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              Your email cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="password">Mot de passe: <i class="text-danger">*</i></label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Mot de passe"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.required"
              jhiTranslate="global.messages.validate.newpassword.required"
            >
              Your password is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.minlength"
              jhiTranslate="global.messages.validate.newpassword.minlength"
            >
              Your password is required to be at least 4 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.newpassword.maxlength"
            >
              Your password cannot be longer than 50 characters.
            </small>
          </div>

          <!-- TODO Validation         <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>-->
        </div>

        <div class="mb-2">
          <label class="form-label" for="confirmPassword">Confirmation mot de passe: <i class="text-danger">*</i></label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirmation mot de passe"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.confirmpassword.required"
            >
              Your confirmation password is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Your confirmation password is required to be at least 4 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Enregistrer</button>
          <a class="btn btn-outline-danger" (click)="goBack()">Retour</a>
        </div>
      </form>
    </div>
  </div>
</div>
