<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-fiche-consultation-heading"
        data-cy="FicheConsultationCreateUpdateHeading"
        jhiTranslate="teleconsultationApp.ficheConsultation.home.createOrEditLabel"
      >
        Create or edit a Fiche Consultation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ficheConsultation.dateFiche" for="field_dateFiche">Date Fiche</label>
          <div class="input-group">
            <input
              id="field_dateFiche"
              data-cy="dateFiche"
              type="text"
              class="form-control"
              name="dateFiche"
              ngbDatepicker
              #dateFicheDp="ngbDatepicker"
              formControlName="dateFiche"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFicheDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateFiche')!.invalid && (editForm.get('dateFiche')!.dirty || editForm.get('dateFiche')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateFiche')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ficheConsultation.numero" for="field_numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ficheConsultation.observation" for="field_observation"
            >Observation</label
          >
          <input
            type="text"
            class="form-control"
            name="observation"
            id="field_observation"
            data-cy="observation"
            formControlName="observation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ficheConsultation.diagnostic" for="field_diagnostic"
            >Diagnostic</label
          >
          <input
            type="text"
            class="form-control"
            name="diagnostic"
            id="field_diagnostic"
            data-cy="diagnostic"
            formControlName="diagnostic"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ficheConsultation.medecin" for="field_medecin">Medecin</label>
          <select
            class="form-control"
            id="field_medecin"
            data-cy="medecin"
            name="medecin"
            formControlName="medecin"
            [compareWith]="compareMedecin"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="medecinOption" *ngFor="let medecinOption of medecinsSharedCollection">{{ medecinOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.ficheConsultation.consultation" for="field_consultation"
            >Consultation</label
          >
          <select
            class="form-control"
            id="field_consultation"
            data-cy="consultation"
            name="consultation"
            formControlName="consultation"
            [compareWith]="compareConsultation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="consultationOption" *ngFor="let consultationOption of consultationsSharedCollection">
              {{ consultationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
