<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-consultation-heading"
        data-cy="DemandeConsultationCreateUpdateHeading"
        jhiTranslate="teleconsultationApp.demandeConsultation.home.createOrEditLabel"
      >
        Create or edit a Demande Consultation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.dateHeureDemande" for="field_dateHeureDemande"
            >Date Heure Demande</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureDemande"
              data-cy="dateHeureDemande"
              type="datetime-local"
              class="form-control"
              name="dateHeureDemande"
              formControlName="dateHeureDemande"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.ordre" for="field_ordre">Ordre</label>
          <input type="number" class="form-control" name="ordre" id="field_ordre" data-cy="ordre" formControlName="ordre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.statut" for="field_statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'teleconsultationApp.StatutDemandeConsultation.null' | translate }}</option>
            <option *ngFor="let statutDemandeConsultation of statutDemandeConsultationValues" [value]="statutDemandeConsultation">
              {{ 'teleconsultationApp.StatutDemandeConsultation.' + statutDemandeConsultation | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.codeOtp" for="field_codeOtp">Code Otp</label>
          <input type="text" class="form-control" name="codeOtp" id="field_codeOtp" data-cy="codeOtp" formControlName="codeOtp" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.telephonePaiement" for="field_telephonePaiement"
            >Telephone Paiement</label
          >
          <input
            type="text"
            class="form-control"
            name="telephonePaiement"
            id="field_telephonePaiement"
            data-cy="telephonePaiement"
            formControlName="telephonePaiement"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
          <div *ngIf="editForm.get('montant')!.invalid && (editForm.get('montant')!.dirty || editForm.get('montant')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montant')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.specialite" for="field_specialite"
            >Specialite</label
          >
          <select
            class="form-control"
            id="field_specialite"
            data-cy="specialite"
            name="specialite"
            formControlName="specialite"
            [compareWith]="compareSpecialite"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="specialiteOption" *ngFor="let specialiteOption of specialitesSharedCollection">
              {{ specialiteOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.demandeConsultation.dossierMedical" for="field_dossierMedical"
            >Dossier Medical</label
          >
          <select
            class="form-control"
            id="field_dossierMedical"
            data-cy="dossierMedical"
            name="dossierMedical"
            formControlName="dossierMedical"
            [compareWith]="compareDossierMedical"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dossierMedicalOption" *ngFor="let dossierMedicalOption of dossierMedicalsSharedCollection">
              {{ dossierMedicalOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
