<section class="py-6 py-lg-8" id="about">
  <div
    class="bg-holder"
    style="background-image: url(../../content/images/dot.png); background-position: right bottom; background-size: auto; margin-top: 50px"
  ></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row g-xl-0 align-items-center">
      <div class="offset-md-4 col-md-4">
        <div class="text-center">
          <img class="img-fluid" src="../../content/logo/laafi_zanga.png" width="150" alt="" />
          <h4 class="">Accéder à mon compte</h4>
        </div>

        <form class="form mt-4" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
          <p *ngIf="authenticationError" class="text-danger text-center">Identifiants incorrects.</p>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="Nom d'utilisateur"
              formControlName="username"
              #username
              data-cy="username"
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Mot de passe"
              formControlName="password"
              data-cy="password"
            />
          </div>

          <div class="form-check">
            <label class="form-check-label" for="rememberMe">
              <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
              <span>Se souvenir de moi</span>
            </label>
          </div>
          <br />
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" data-cy="submit">Connexion</button>
            <a class="btn btn-outline-danger" (click)="goBack()">Retour</a>
          </div>

          <br />
          <p class="text-info text-muted text-decoration-none">
            <a class="btn btn-link btn-outline-info" (click)="createAccount()">Je n'ai pas de compte.</a>
          </p>
          <p class="text-info text-muted text-decoration-none">
            <a class="btn btn-link btn-outline-info" (click)="goToResetPwd()">J'ai oublié mon mot de passe.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
