<div>
  <h3><span class="bx bx-cog"></span> Paramétrage des spécialités</h3>
  <hr />

  <form name="editFormF" class="mt-3" role="form" novalidate>
    <div class="row justify-content-center">
      <div class="form-group col-md-2">
        <input
          type="text"
          class="form-control form-control-sm"
          name="designation"
          id="designation"
          placeholder="Désignation"
          autocomplete="of"
        />
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" name="frais" id="frais" placeholder="Frais" autocomplete="of" />
      </div>

      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-sm btn-primary" style="width: 100%"><i class="bx bx-search"></i> Filtrer</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-sm btn-warning" style="width: 100%"><i class="bx bx-reset"></i> Réinitialiser</button>
      </div>
    </div>
  </form>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="specialites?.length === 0">
    <span>Aucune donnée</span>
  </div>

  <div class="d-grid gap-1 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-primary btn-sm" disabled="true"><i class="bx bx-plus"></i> Ajouter</a>
  </div>
  <div class="table-responsive table-entities" id="entities" *ngIf="specialites && specialites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col">#</th>
          <th scope="col" jhiSortBy="designation">
            <div class="d-flex">
              <span>Désignation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="frais">
            <div class="d-flex">
              <span>Frais</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th class="text-end" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let specialite of specialites; let i = index; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ i + 1 }}
          </td>
          <td>{{ specialite.designation }}</td>
          <td>{{ specialite.frais?.toLocaleString() }}</td>
          <td class="text-end">
            <div class="dropdown">
              <a
                class="btn btn-primary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bx bx-menu"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            <!--
            <div class="btn-group">

              <button
                type="submit"
                [routerLink]="['/specialite', specialite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/specialite', specialite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(specialite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="specialites && specialites.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
