<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="consultation">
      <h2 data-cy="consultationDetailsHeading"><span jhiTranslate="teleconsultationApp.consultation.detail.title">Consultation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ consultation.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.poids">Poids</span></dt>
        <dd>
          <span>{{ consultation.poids }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.temperature">Temperature</span></dt>
        <dd>
          <span>{{ consultation.temperature }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.pouls">Pouls</span></dt>
        <dd>
          <span>{{ consultation.pouls }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.bpm">Bpm</span></dt>
        <dd>
          <span>{{ consultation.bpm }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.age">Age</span></dt>
        <dd>
          <span>{{ consultation.age }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.taille">Taille</span></dt>
        <dd>
          <span>{{ consultation.taille }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.dateDebutConsulation">Date Debut Consulation</span></dt>
        <dd>
          <span>{{ consultation.dateDebutConsulation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.isSuivi">Is Suivi</span></dt>
        <dd>
          <span>{{ consultation.isSuivi }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.isClose">Is Close</span></dt>
        <dd>
          <span>{{ consultation.isClose }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.medecin">Medecin</span></dt>
        <dd>
          <div *ngIf="consultation.medecin">
            <a [routerLink]="['/medecin', consultation.medecin.id, 'view']">{{ consultation.medecin.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.consultation.demandeConsultation">Demande Consultation</span></dt>
        <dd>
          <div *ngIf="consultation.demandeConsultation">
            <a [routerLink]="['/demande-consultation', consultation.demandeConsultation.id, 'view']">{{
              consultation.demandeConsultation.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/consultation', consultation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
