<div class="container mt-2">
  <div
    class="bg-holder"
    style="background-image: url(../../content/images/dot.png); background-position: left; background-size: auto"
  ></div>

  <div class="row align-items-center" style="height: 100%">
    <div class="col-md-7 col-lg-6 text-center text-md-start pt-md-9">
      <img class="img-fluid" src="../../content/logo/laafi_zanga.png" width="200" alt="" />
      <!--      <h1 class="mb-4 display-3 fw-bold">Consultation en ligne<br class="d-block d-lg-none d-xl-block" /></h1>-->
      <p class="mt-3 mb-4 fs-1">
        Bienvenue sur votre plateforme <br class="d-none d-lg-block" />de consultation en ligne.<br class="d-none d-lg-block" />
      </p>

      <p class="text-muted">Faites-vous consulter instantannement par notre équipe de spécialiste.</p>

      <a class="btn btn-info rounded-pill hover-top text-white" (click)="createAccount()">Créer son compte</a>
      <a class="btn btn-primary rounded-pill hover-top text-white" (click)="login()">Se connecter</a>
    </div>
    <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="../../content/images/hero-header.png" alt="" /></div>
  </div>
</div>

<div
  class="bg-holder"
  style="background-image: url(../../content/images/dot.png); background-position: right bottom; background-size: auto; margin-top: 50px"
></div>
<!--/.bg-holder-->
<div class="container">
  <div class="row g-xl-0 align-items-center">
    <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="../../content/images/about-1.png" width="480" alt="" /></div>
    <div class="col-md-6 text-center text-md-start">
      <h2 class="mt-3 mb-4 fs-1">Services disponibles <br />continuellement</h2>
      <hr class="text-dark mx-auto mx-md-0" style="height: 2px; width: 50px" />
      <p class="pt-3"></p>
      <div class="py-3"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <p class="mb-0">
          &copy; 2022 This template is made with
          <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#458FF6" viewBox="0 0 16 16">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"
            ></path>
          </svg>
          by <a class="text-black" href="https://therichpost.com/" target="_blank">Jassa </a>
        </p>
      </div>
    </div>
  </div>
</div>
