<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="medecin">
      <h2 data-cy="medecinDetailsHeading"><span jhiTranslate="teleconsultationApp.medecin.detail.title">Medecin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ medecin.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.medecin.userId">User Id</span></dt>
        <dd>
          <span>{{ medecin.userId }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.medecin.matricule">Matricule</span></dt>
        <dd>
          <span>{{ medecin.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.medecin.signature">Signature</span></dt>
        <dd>
          <div *ngIf="medecin.signature">
            <a (click)="openFile(medecin.signature, medecin.signatureContentType)">
              <img
                [src]="'data:' + medecin.signatureContentType + ';base64,' + medecin.signature"
                style="max-width: 100%"
                alt="medecin image"
              />
            </a>
            {{ medecin.signatureContentType }}, {{ byteSize(medecin.signature) }}
          </div>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.medecin.formationSanitaire">Formation Sanitaire</span></dt>
        <dd>
          <div *ngIf="medecin.formationSanitaire">
            <a [routerLink]="['/formation-sanitaire', medecin.formationSanitaire.id, 'view']">{{ medecin.formationSanitaire.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.medecin.specialite">Specialite</span></dt>
        <dd>
          <div *ngIf="medecin.specialite">
            <a [routerLink]="['/specialite', medecin.specialite.id, 'view']">{{ medecin.specialite.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/medecin', medecin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
