<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="specialite">
      <h2 data-cy="specialiteDetailsHeading"><span jhiTranslate="teleconsultationApp.specialite.detail.title">Specialite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ specialite.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.specialite.designation">Designation</span></dt>
        <dd>
          <span>{{ specialite.designation }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.specialite.frais">Frais</span></dt>
        <dd>
          <span>{{ specialite.frais }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/specialite', specialite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
