<fieldset class="border p-2 mt-2 border-danger" *ngIf="demande">
  <legend class="float-none w-auto text-danger h6"><i class="bx bx-receipt"></i> {{ titre }}</legend>

  <div class="row">
    <div class="col-md-4 row">
      <p class="col-5">Numéro d'ordre</p>
      <p class="col-7">: {{ demande.ordre || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Date demande</p>
      <p class="col-7">: {{ demande.dateHeureDemande | formatMediumDatetime }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Spécialité</p>
      <p class="col-7">: {{ demande.specialiteDesignation || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Code paiement</p>
      <p class="col-7">: {{ demande.codeOtp || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Numéro paiement</p>
      <p class="col-7">: {{ demande.telephonePaiement || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Montant payé</p>
      <p class="col-7">: {{ demande.montant?.toLocaleString() || '' }}</p>
    </div>

    <div class="col-md-4 row">
      <p class="col-5">Statut</p>
      <p class="col-7 text-info">: {{ demande.statut || '' }}</p>
    </div>

    <div class="col-md-4">
      <a class="btn btn-sm btn-warning" (click)="joinCall()"><i class="bx bx-video"> Rejoindre la consultation</i></a>
    </div>
  </div>
</fieldset>
