<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bulletin">
      <h2 data-cy="bulletinDetailsHeading"><span jhiTranslate="teleconsultationApp.bulletin.detail.title">Bulletin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bulletin.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.bulletin.dateBulletin">Date Bulletin</span></dt>
        <dd>
          <span>{{ bulletin.dateBulletin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.bulletin.numero">Numero</span></dt>
        <dd>
          <span>{{ bulletin.numero }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.bulletin.ficheConsultation">Fiche Consultation</span></dt>
        <dd>
          <div *ngIf="bulletin.ficheConsultation">
            <a [routerLink]="['/fiche-consultation', bulletin.ficheConsultation.id, 'view']">{{ bulletin.ficheConsultation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bulletin', bulletin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
