<div>
  <h2 id="page-heading" data-cy="DemandeConsultationHeading">
    <span jhiTranslate="teleconsultationApp.demandeConsultation.home.title">Demande Consultations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teleconsultationApp.demandeConsultation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-consultation"
        [routerLink]="['/demande-consultation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teleconsultationApp.demandeConsultation.home.createLabel"> Create a new Demande Consultation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeConsultations?.length === 0">
    <span jhiTranslate="teleconsultationApp.demandeConsultation.home.notFound">No Demande Consultations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandeConsultations && demandeConsultations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureDemande">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.dateHeureDemande">Date Heure Demande</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ordre">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.ordre">Ordre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statut">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.statut">Statut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeOtp">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.codeOtp">Code Otp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephonePaiement">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.telephonePaiement">Telephone Paiement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.montant">Montant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="specialite.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.specialite">Specialite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dossierMedical.id">
            <div class="d-flex">
              <span jhiTranslate="teleconsultationApp.demandeConsultation.dossierMedical">Dossier Medical</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeConsultation of demandeConsultations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-consultation', demandeConsultation.id, 'view']">{{ demandeConsultation.id }}</a>
          </td>
          <td>{{ demandeConsultation.dateHeureDemande | formatMediumDatetime }}</td>
          <td>{{ demandeConsultation.ordre }}</td>
          <td jhiTranslate="{{ 'teleconsultationApp.StatutDemandeConsultation.' + demandeConsultation.statut }}">
            {{ demandeConsultation.statut }}
          </td>
          <td>{{ demandeConsultation.codeOtp }}</td>
          <td>{{ demandeConsultation.telephonePaiement }}</td>
          <td>{{ demandeConsultation.montant }}</td>
          <td>
            <div *ngIf="demandeConsultation.specialite">
              <a [routerLink]="['/specialite', demandeConsultation.specialite.id, 'view']">{{ demandeConsultation.specialite.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="demandeConsultation.dossierMedical">
              <a [routerLink]="['/dossier-medical', demandeConsultation.dossierMedical.id, 'view']">{{
                demandeConsultation.dossierMedical.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/consultation']"
                [queryParams]="{ 'filter[demandeConsultationId.in]': demandeConsultation.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.demandeConsultation.consultation' | translate) }"
                  >Show Consultation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/demande-consultation', demandeConsultation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-consultation', demandeConsultation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeConsultation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="demandeConsultations && demandeConsultations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
