<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="examenMedical">
      <h2 data-cy="examenMedicalDetailsHeading">
        <span jhiTranslate="teleconsultationApp.examenMedical.detail.title">Examen Medical</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ examenMedical.id }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.examenMedical.designation">Designation</span></dt>
        <dd>
          <span>{{ examenMedical.designation }}</span>
        </dd>
        <dt><span jhiTranslate="teleconsultationApp.examenMedical.code">Code</span></dt>
        <dd>
          <span>{{ examenMedical.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/examen-medical', examenMedical.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
