<div>
  <h3><span class="bx bx-folder"></span> Dossier N {{ patient?.dossier?.numero }}</h3>
  <hr />

  <div class="d-grid gap-1 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-primary btn-sm" disabled="true"><i class="bx bx-calendar"></i> Plannifier un RDV</a>
  </div>
  <!--  <jhi-info-demande [demande]="demande"></jhi-info-demande>-->
  <!--  <br>-->
  <jhi-info-patient [patient]="patient"></jhi-info-patient>

  <div class="mt-3">
    <ul class="nav nav-tabs" id="ficheConsulation" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="demande-tab"
          data-bs-toggle="tab"
          data-bs-target="#demande"
          type="button"
          role="tab"
          aria-controls="demande"
          aria-selected="true"
        >
          Demandes
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="consultation-tab"
          data-bs-toggle="tab"
          data-bs-target="#consultation"
          type="button"
          role="tab"
          aria-controls="consultation"
          aria-selected="true"
        >
          Consultations
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="ordonnance-tab"
          data-bs-toggle="tab"
          data-bs-target="#ordonnance"
          type="button"
          role="tab"
          aria-controls="ordonnance"
          aria-selected="false"
        >
          Ordonnances
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="bulletin-tab"
          data-bs-toggle="tab"
          data-bs-target="#bulletin"
          type="button"
          role="tab"
          aria-controls="bulletin"
          aria-selected="false"
        >
          Bulletins d'examen
        </button>
      </li>
    </ul>

    <div class="tab-content" id="ficheConsulationContent">
      <div class="tab-pane fade show active" id="demande" role="tabpanel" aria-labelledby="demande-tab"></div>

      <div class="tab-pane fade show active" id="consultation" role="tabpanel" aria-labelledby="consultation-tab">
        <table class="table table-responsive table-striped table-bordered">
          <thead>
            <tr>
              <th>N°</th>
              <th>Date</th>
              <th>Type</th>
              <th>Spécialité</th>
              <th>Numéro</th>
              <th>Diagnostique</th>
              <th>Observation</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>{{ demande?.dateHeureDemande | formatMediumDate }}</td>
              <td>Consultation</td>
              <td>{{ demande?.specialiteDesignation || '' }}</td>
              <td>1</td>
              <td>..</td>
              <td>..</td>
              <td>
                <a class="btn btn-sm btn-outline-primary"><i class="bx bx-detail"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <!--        <div class="d-flex justify-content-center">-->
        <!--          <jhi-item-count [params]="{ page: 0, totalItems: 1, itemsPerPage: 1 }"></jhi-item-count>-->
        <!--        </div>-->

        <div class="d-flex justify-content-center">
          <ngb-pagination
            [collectionSize]="1"
            [page]="0"
            [pageSize]="1"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="navigateToPage($event)"
          ></ngb-pagination>
        </div>
      </div>
      <div class="tab-pane fade" id="ordonnance" role="tabpanel" aria-labelledby="ordonnance-tab">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Produit</th>
              <th>Posologie</th>
              <th>Observation</th>
              <th>
                <a class="btn btn-sm btn-outline-primary"><i class="bx bx-plus"></i></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="bulletin" role="tabpanel" aria-labelledby="bulletin-tab">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Examen</th>
              <th>Description</th>
              <th>Résultat</th>
              <th>
                <a class="btn btn-sm btn-outline-primary"><i class="bx bx-plus"></i></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
