/*
 * Bootstrap overrides https://getbootstrap.com/docs/5.1/customize/sass/
 * All values defined in bootstrap source
 * https://github.com/twbs/bootstrap/blob/v5.1.3/scss/_variables.scss can be overwritten here
 * Make sure not to add !default to values here
 */

// Colors:
// Grayscale and brand colors for use across Bootstrap.

$primary: #3e8acc;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

// Options:
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Components:
// Define common padding and border radius sizes and more.

$border-radius: 0.15rem;
$border-radius-lg: 0.125rem;
$border-radius-sm: 0.1rem;

// Body:
// Settings for the `<body>` element.

$body-bg: #e4e5e6;

// Typography:
// Font, line-height, and color for body text, headings, and more.

$font-size-base: 1rem;

$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: #343a40;

// Bootstrap
//$input-btn-padding-y:         .375rem;
//$input-btn-padding-x:         .75rem;
//$input-btn-font-family:       null;
//$input-btn-font-size:         $font-size-base;
//
//$input-btn-focus-width:         .25rem;
//$input-btn-focus-color-opacity: .25;
//$input-btn-focus-blur:          0;
//$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;
//
//$input-btn-padding-y-sm:      .25rem;
//$input-btn-padding-x-sm:      .5rem;
//
//$input-btn-padding-y-lg:      .5rem;
//$input-btn-padding-x-lg:      1rem;
//
//
//$input-padding-y:                       $input-btn-padding-y;
//$input-padding-x:                       $input-btn-padding-x;
//$input-font-family:                     $input-btn-font-family;
//$input-font-size:                       $input-btn-font-size;
//
//$input-padding-y-sm:                    $input-btn-padding-y-sm;
//$input-padding-x-sm:                    $input-btn-padding-x-sm;
//
//$input-padding-y-lg:                    $input-btn-padding-y-lg;
//$input-padding-x-lg:                    $input-btn-padding-x-lg;
//
//$input-disabled-border-color:           null;
//
//
//$input-border-radius:                   $border-radius;
//$input-border-radius-sm:                $border-radius-sm;
//$input-border-radius-lg:                $border-radius-lg;
//
//$input-focus-width:                     $input-btn-focus-width;
//$input-focus-box-shadow:                $input-btn-focus-box-shadow;
//
//
//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;
//
////$form-floating-height:            add(3.5rem, $input-height-border);
//$form-floating-line-height:       1.25;
//$form-floating-padding-x:         $input-padding-x;
//$form-floating-padding-y:         1rem;
//$form-floating-input-padding-t:   1.625rem;
//$form-floating-input-padding-b:   .625rem;
//$form-floating-label-opacity:     .65;
//$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem);
//$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out;
