<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-consultation-heading"
        data-cy="ConsultationCreateUpdateHeading"
        jhiTranslate="teleconsultationApp.consultation.home.createOrEditLabel"
      >
        Create or edit a Consultation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.poids" for="field_poids">Poids</label>
          <input type="number" class="form-control" name="poids" id="field_poids" data-cy="poids" formControlName="poids" />
          <div *ngIf="editForm.get('poids')!.invalid && (editForm.get('poids')!.dirty || editForm.get('poids')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('poids')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('poids')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.temperature" for="field_temperature">Temperature</label>
          <input
            type="number"
            class="form-control"
            name="temperature"
            id="field_temperature"
            data-cy="temperature"
            formControlName="temperature"
          />
          <div *ngIf="editForm.get('temperature')!.invalid && (editForm.get('temperature')!.dirty || editForm.get('temperature')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('temperature')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('temperature')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.pouls" for="field_pouls">Pouls</label>
          <input type="number" class="form-control" name="pouls" id="field_pouls" data-cy="pouls" formControlName="pouls" />
          <div *ngIf="editForm.get('pouls')!.invalid && (editForm.get('pouls')!.dirty || editForm.get('pouls')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pouls')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('pouls')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.bpm" for="field_bpm">Bpm</label>
          <input type="number" class="form-control" name="bpm" id="field_bpm" data-cy="bpm" formControlName="bpm" />
          <div *ngIf="editForm.get('bpm')!.invalid && (editForm.get('bpm')!.dirty || editForm.get('bpm')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('bpm')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('bpm')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
          <div *ngIf="editForm.get('age')!.invalid && (editForm.get('age')!.dirty || editForm.get('age')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('age')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('age')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.taille" for="field_taille">Taille</label>
          <input type="number" class="form-control" name="taille" id="field_taille" data-cy="taille" formControlName="taille" />
          <div *ngIf="editForm.get('taille')!.invalid && (editForm.get('taille')!.dirty || editForm.get('taille')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('taille')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('taille')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.dateDebutConsulation" for="field_dateDebutConsulation"
            >Date Debut Consulation</label
          >
          <div class="d-flex">
            <input
              id="field_dateDebutConsulation"
              data-cy="dateDebutConsulation"
              type="datetime-local"
              class="form-control"
              name="dateDebutConsulation"
              formControlName="dateDebutConsulation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.isSuivi" for="field_isSuivi">Is Suivi</label>
          <input type="checkbox" class="form-check" name="isSuivi" id="field_isSuivi" data-cy="isSuivi" formControlName="isSuivi" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.isClose" for="field_isClose">Is Close</label>
          <input type="checkbox" class="form-check" name="isClose" id="field_isClose" data-cy="isClose" formControlName="isClose" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.medecin" for="field_medecin">Medecin</label>
          <select
            class="form-control"
            id="field_medecin"
            data-cy="medecin"
            name="medecin"
            formControlName="medecin"
            [compareWith]="compareMedecin"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="medecinOption" *ngFor="let medecinOption of medecinsSharedCollection">{{ medecinOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teleconsultationApp.consultation.demandeConsultation" for="field_demandeConsultation"
            >Demande Consultation</label
          >
          <select
            class="form-control"
            id="field_demandeConsultation"
            data-cy="demandeConsultation"
            name="demandeConsultation"
            formControlName="demandeConsultation"
            [compareWith]="compareDemandeConsultation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="demandeConsultationOption" *ngFor="let demandeConsultationOption of demandeConsultationsSharedCollection">
              {{ demandeConsultationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
