<div>
  <h3><span class="bx bxs-home-alt-2"></span> Paramétrage des formations sanitaires</h3>
  <hr />
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="formationSanitaires?.length === 0">
    <span>Aucune donnée</span>
  </div>

  <div class="d-grid gap-1 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-primary btn-sm" disabled="true"><i class="bx bx-plus"></i> Ajouter</a>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formationSanitaires && formationSanitaires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col">#</th>
          <th scope="col" jhiSortBy="designation">
            <div class="d-flex">
              <span>Désignation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sigle">
            <div class="d-flex">
              <span>Sigle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span>Téléphone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th class="text-end" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formationSanitaire of formationSanitaires; let i = index; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ i + 1 }}
          </td>
          <td>{{ formationSanitaire.designation }}</td>
          <td>{{ formationSanitaire.sigle }}</td>
          <td>{{ formationSanitaire.telephone }}</td>
          <td>{{ formationSanitaire.email }}</td>
          <!--<td>
            <a *ngIf="formationSanitaire.logo" (click)="openFile(formationSanitaire.logo, formationSanitaire.logoContentType)">
              <img
                [src]="'data:' + formationSanitaire.logoContentType + ';base64,' + formationSanitaire.logo"
                style="max-height: 30px"
                alt="formationSanitaire image"
              />
            </a>
            <span *ngIf="formationSanitaire.logo">{{ formationSanitaire.logoContentType }}, {{ byteSize(formationSanitaire.logo) }}</span>
          </td>-->
          <td class="text-end">
            <div class="dropdown">
              <a
                class="btn btn-primary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bx bx-menu"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            <!--<div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medecin']"
                [queryParams]="{ 'filter[formationSanitaireId.in]': formationSanitaire.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('teleconsultationApp.formationSanitaire.medecin' | translate) }"
                  >Show Medecin</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/formation-sanitaire', formationSanitaire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/formation-sanitaire', formationSanitaire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(formationSanitaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="formationSanitaires && formationSanitaires.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
