<div>
  <h3><span class="bx bx-home"></span> Acceuil</h3>
  <hr />
  <ul class="box-info mb-2">
    <li>
      <i class="bx bxs-calendar-check"></i>
      <span class="text">
        <h3>1</h3>
        <p>En attente de consultation</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>0</h3>
        <p>Consultations de la journée</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-dollar-circle"></i>
      <span class="text">
        <h3>5 000</h3>
        <p>Frais de consulation</p>
      </span>
    </li>
  </ul>
  <br />
  <form name="editFormF" class="mt-3" role="form" novalidate>
    <div class="row">
      <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" name="numero" id="numero" placeholder="Numéro ordre" autocomplete="of" />
      </div>
      <div class="form-group col-md-2">
        <input
          type="date"
          class="form-control form-control-sm"
          name="dateDemande"
          id="dateDemande"
          placeholder="Date demande"
          autocomplete="of"
        />
      </div>
      <div class="form-group col-md-2">
        <select class="form-control form-control-sm" name="specialite" id="specialite">
          <option>Spécialité</option>
          <option *ngFor="let sp of listeSpecialite">{{ sp.designation || '' }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <select class="form-control form-control-sm" name="statut" id="statut">
          <option>Statut</option>
          <option [value]="statut.code" *ngFor="let statut of listeStatutDemandeConsultation">{{ statut.libelle || '' }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-sm btn-primary" style="width: 100%"><i class="bx bx-search"></i> Filtrer</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-sm btn-warning" style="width: 100%"><i class="bx bx-reset"></i> Réinitialiser</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <!--      <th scope="col">N°</th>-->
        <th scope="col">N° ordre</th>
        <th scope="col">Date demande</th>
        <th scope="col">Spécialité</th>
        <th scope="col">Statut</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demande of demandes; let i = index">
        <!--        <td scope="row">{{i+1}}</td>-->
        <td>{{ demande.ordre || '' }}</td>
        <td>{{ demande.dateHeureDemande | formatMediumDatetime }}</td>
        <td>
          <span *ngIf="demande.specialite && demande.specialite.id">{{ getSpecialiteName(demande.specialite.id) }}</span>
        </td>
        <td>{{ demande.statut || '' }}</td>
        <td>
          <a class="btn btn-sm btn-danger" (click)="call(demande)"><i class="bx bx-video"></i></a>
          <a class="btn btn-info btn-sm text-white" (click)="dossier(demande)"><i class="bx bx-detail"></i> Dossier patient </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="demandes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
